#icon--add-client
	background none
#icon--refresh-clients
	position absolute
	left 82vw
#icon--github
	background url('../images/icons/github.svg') center no-repeat
	background-size cover
#icon--sourceforge
	background url('../images/icons/sourceforge.svg') center no-repeat
	background-size cover





.svg-icon
	fill #FFFFFF
	opacity 1
