.storage
.ram
	sum
		color black
		font-weight bold
		padding 0 1vh 0 1vh
	free
		color green
		padding 0 1vh 0 1vh
	used
		color red
		padding 0 1vh 0 1vh

.msg--container
	width 100%
	margin 2vh
	color $green-dark-matt
	.msg--container_icon
		float left
		color inherit
		.material-icons
			font-size 4vh !important
	.msg--container_title
		font-weight 700
		color inherit
		padding-left 5vw
		padding-bottom 0.25
		text-decoration underline
	.msg--container_message
		font-weight 200
		color inherit
		padding-left 5vw
.exec-output
	color rgba(0,0,0,1)
	margin 2vh
