.mdc-data-table#mdc-data-table
	width 100%
	height 0vh
	opacity 0
	transform scale(1)
	transition all .75s ease-in-out
	.mdc-data-table__table
		// width 0vw
		// height 0vh
		// opacity 0
		// transition all .25s ease-in-out
	.mdc-data-table__icon
		text-align center
		padding-left .5vw
		padding-right 0vw
		width 3vw !important
.material-icons
	font-size 3vh
	opacity 0.5
	transform scale(1)
	transition all .25s ease-in-out
	&:hover
		opacity 1
		transform scale(1.5)
