// .mdc-card
// 	width 100%
// 	height fit-content
// 	min-height 1rem
// 	margin .5rem 0rem 1.5rem 0rem
// .mdc-card__media
// 	height inherit
// .mdc-card__actions
// 	margin-bottom .5rem !important
// .mdc-card__media-content
// 	background-repeat no-repeat !important
// 	background-size cover !important
// .mdc-icon-button__icon.mdc-icon-button__icon--on
// 	display block !important
// .mdc-icon-button
// 	padding 8px !important
// .mdc-icon-button svg,
// .mdc-icon-button img
// 	width 32px
// 	height 32px
// 	max-width inherit !important
// .mdc-card__action--icon
// 	padding 11% !important

