// ---------------
// Axis Settings
// Check here for updates:
// https://github.com/jenius/axis/blob/master/axis/settings.styl
// ---------------

// Container
$container 				= 940px

// Fonts
$font   				= 'Roboto', sans-serif
$font-size 				= 16px

// NEW COLORS 
$green-dark-matt 		= rgba(40,75,76,1)
$green-darker-matt 		= rgba(25,41,41,1)
$green-light-matt 		= rgba(41,93,95,0.66)
$green-ligher-matt 		= rgba(141,215,218,0.66)

// Client Colors
$my-black 				= rgba(0,0,0,0.80)
$my-green 				= #41A62B

// Colors (via http://clrs.cc - slightly modded)
$navy     		= #001F3F
$blue     		= #1C69D4
$aqua     		= #7FDBFF
$teal     		= #39CCCC
$olive    		= #3D9970
$green    		= $my-green
$lime     		= #01FF70
$yellow   		= #FFDC00
$orange   		= #FF851B
$red      		= #FF4136
$maroon   		= #85144B
$fuchsia  		= #E2007A
$purple   		= #B10DC9
$white    		= #FFFFFF
$silver   		= #DDDDDD
$gray     		= #4C5463
$black    		= $my-black

// Use as default HTML colors
navy    		= $navy
blue    		= $blue
aqua    		= $aqua
teal    		= $teal
olive   		= $olive
green   		= $green
lime    		= $lime
yellow  		= $yellow
orange  		= $orange
red     		= $red
maroon  		= $maroon
fuchsia 		= $fuchsia
purple  		= $purple
white   		= $white
silver  		= $silver
gray    		= $gray
black   		= $black

$gradient1		= linear-gradient(90deg, rgba(255,255,255,1) 47%, rgba(0,0,0,0.75) 100%);

// Custom image base path for axis mixins
$img-path 		= '../images/'

// Ligatures
$ligatures 		= false

//- Font
// webfont(BMW, BMWGroup-Regular, true, normal, normal)
// webfont(BMW, BMWGroup-Bold, true, bold, normal)

rupture.mobile-cutoff = 600px
rupture.desktop-cutoff = 1200px

