#section1
	max-height 100vh
	max-width 100vw
	.shadow-light
		box-shadow 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12)
	.shadow-normal
		box-shadow 0px 6px 6px -3px rgba(0, 0, 0, 0.2), 0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12)
	.shadow-huge
		box-shadow 0px 10px 13px -6px rgba(0, 0, 0, 0.2), 0px 20px 31px 3px rgba(0, 0, 0, 0.14), 0px 8px 38px 7px rgba(0, 0, 0, 0.12)
	
	// HEADER
	.header
		height 10vh
		width 100%
		max-width 75vw
		font-size 16px
		background $green-light-matt
		margin 0 auto 0 auto
		border-radius 0 0 5px 5px
		.header-columns
			column(1/2, $cycle: 2)
			height -webkit-fill-available
			.header-column-logo
				margin-top -0.5vh
				margin-left 0vw
				width auto
				height 105%
				background url('../images/logo/statSRV-bw-logo@2x.png') left no-repeat
				background-size contain
			.header-column-title
				padding-top 2rem
				color $white
				font-size 1rem
				font-weight regular
				text-align left
				margin-left 5rem
				z-index 5
				transition all .5s ease-in-out
			.header-column-menu
				float right
				padding-top 3.5vh
				color rgba(255,255,255,.75)
				font-size 1rem
				text-align right
				z-index 5
				transition all .5s ease-in-out
				a
					color rgba(255,255,255,.75)
					font-weight 300
					text-decoration none
					transition all .25s ease-in-out
					&:hover
						color $white
			.header-column-menu:nth-of-type(2)
				margin-right 1vw
		.header-columns:nth-of-type(2)
			padding-right 1.5vw
			
	// CONTENT
	.content
		width 100%
		max-width 75vw
		height 80vh
		margin -4vh auto 1vh auto
		color $white
		font-size 16px
		background $green-darker-opacity
		.clients-list
			color $white
			margin-top 6.5vh
			max-height 2vh
			height 100%
			.client-list-icons
				position absolute
				width 100%
				max-width 10.75vw
				height 6vh
				right 13.5vw
				.clients-list_icon
					float left
					padding 1.5vh 0.5vw 1vh 2vw
					a
						color rgba(255,255,255,.75)
						font-weight 500
						text-decoration none
						line-height 1.75
						transition all .25s ease-in-out
						&:hover
							color $white
			.clients-list-clients
				position absolute
				max-width 60vw
				max-height 6vh
				width 100%
				height 100%
				overflow-x auto
				overflow-y hidden
				display inline-flex
				.clients-list_client
					padding 1.5vh 0.5vw 1vh 2vw
					a
						color rgba(255,255,255,.75)
						font-weight 500
						text-decoration none
						line-height 1.75
						transition 0.75s all 0.75s ease-in-out
						&:hover
							color $green-darker-matt
							// border-bottom 1px solid $white
				.clients-list_client:nth-of-type(1)
					a
						&:hover
							color $green-darker-matt
							border-bottom 1px solid $white
		.client-list_data-container
			// height 79.5vh
			height 100%
			padding-top 4.5vh
			margin-top -2vh
			box-shadow 0px 7px 9px -4px rgba(0, 0, 0, 0.2), 0px 14px 21px 2px rgba(0, 0, 0, 0.14), 0px 5px 26px 4px rgba(0, 0, 0, 0.12)
			.client-list_data-table
				// min-height 75vh
				// width 50vw
				.client-list_data-table_content
					float left
					text-align center
					.icon
						float left
					.client-title
						float left
						color rgba(255,255,255,.75)
						font-weight 700
						.icon
							float right
					.client-content
						float right
						color rgba(255,255,255,.5)
						font-weight 300
						.client-icon
							float right
			.client-list_data-list
				padding-top 2.5rem
	
	// FOOTER
	.footer
		background-color $green-darker-matt
		width 100%
		max-width 75vw
		height 6vh
		color rgba(255,255,255,0.5)
		font-size 1em
		margin 2vh auto 0 auto
		padding 2vh
		border-radius 5px 5px 0 0
		.footer-column
			column(1/2, $cycle: 2)
			.icons
				height 3vh
				.icon
					float left
					max-height 24px
					max-width 24px
					width 100%
					height 100%
					margin-right 2vw
					transform scale(1)
					cursor pointer
					transition all .25s ease-in-out
					.tooltip
							opacity 0
							color rgba(0,0,0,0.75)
							font-size 0.5rem
							background rgba(255,255,255,.75)
							width fit-content
							border 1px solid $green-darker-matt
							border-radius 2px
							padding .5vh
							position relative
							top -2.5vh
							// left -1vw
							transition opacity 1.5s ease-in-out
					.tooltip#tooltip-github
						left -0.75vw
					.tooltip#tooltip-sourceforge
						left -1.75vw
					&:hover
						transform scale(1.5)
						fill #FFFFFF
						.tooltip
							opacity 1
		.footer-column:nth-of-type(1)
			text-align left
		.footer-column:nth-of-type(2)
			text-align right
