// MOBILE CLASSES
@media (max-width: 800px) and (min-width: 300px)
	#section1
		max-width 100vw
		.header
			height 10vh
			width 100%
			max-width 100vw
			.header-columns
				.header-column-menu
					padding-right 2vw
		.content
			width 100%
			max-width 100vw
		.footer
			width 100%
			max-width 100vw
			font-size 0.75rem
	#icon--refresh-clients
		position absolute
		left 88vw
	.material-icons
		font-size 4vh !important
