html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #222;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
* {
  box-sizing: border-box;
}
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  color: rgba(0,0,0,0.8);
  font-size: 16px;
  background: #378184;
  background: linear-gradient(50deg, #378184 5%, #284b4c 55%);
}
img {
  max-width: 100%;
}
.container {
  width: auto;
  max-width: 940px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
.container:after {
  content: "";
  display: block;
  clear: both;
}
strong {
  font-weight: bold;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 1.2em;
}
section {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
}
section header h2 {
  color: rgba(0,0,0,0.8);
  font-weight: bold;
  font-size: 32px;
}
.storage sum,
.ram sum {
  color: rgba(0,0,0,0.8);
  font-weight: bold;
  padding: 0 1vh 0 1vh;
}
.storage free,
.ram free {
  color: #41a62b;
  padding: 0 1vh 0 1vh;
}
.storage used,
.ram used {
  color: #ff4136;
  padding: 0 1vh 0 1vh;
}
#icon--add-client {
  background: none;
}
#icon--refresh-clients {
  position: absolute;
  left: 82vw;
}
#icon--github {
  background: url("../images/icons/github.svg") center no-repeat;
  background-size: cover;
}
#icon--sourceforge {
  background: url("../images/icons/sourceforge.svg") center no-repeat;
  background-size: cover;
}
.svg-icon {
  fill: #fff;
  opacity: 1;
}
@-webkit-keyframes slideIN {
  0% {
    opacity: 0;
    left: -1000vw;
  }
  50% {
    opacity: 1;
    left: -500vw;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
@keyframes slideIN {
  0% {
    opacity: 0;
    left: -1000vw;
  }
  50% {
    opacity: 1;
    left: -500vw;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
@-webkit-keyframes slideOUT {
  0% {
    opacity: 1;
    left: 0;
  }
  50% {
    opacity: 1;
    left: 500vw;
  }
  100% {
    opacity: 0;
    left: 1000vw;
  }
}
@keyframes slideOUT {
  0% {
    opacity: 1;
    left: 0;
  }
  50% {
    opacity: 1;
    left: 500vw;
  }
  100% {
    opacity: 0;
    left: 1000vw;
  }
}
#section1 {
  max-height: 100vh;
  max-width: 100vw;
}
#section1 .shadow-light {
  box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 6px 10px 0px rgba(0,0,0,0.14), 0px 1px 18px 0px rgba(0,0,0,0.12);
}
#section1 .shadow-normal {
  box-shadow: 0px 6px 6px -3px rgba(0,0,0,0.2), 0px 10px 14px 1px rgba(0,0,0,0.14), 0px 4px 18px 3px rgba(0,0,0,0.12);
}
#section1 .shadow-huge {
  box-shadow: 0px 10px 13px -6px rgba(0,0,0,0.2), 0px 20px 31px 3px rgba(0,0,0,0.14), 0px 8px 38px 7px rgba(0,0,0,0.12);
}
#section1 .header {
  height: 10vh;
  width: 100%;
  max-width: 75vw;
  font-size: 16px;
  background: rgba(41,93,95,0.66);
  margin: 0 auto 0 auto;
  border-radius: 0 0 5px 5px;
}
#section1 .header .header-columns {
  float: left;
  clear: none;
  text-align: inherit;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
  height: -webkit-fill-available;
}
#section1 .header .header-columns:after {
  content: "";
  display: block;
  clear: both;
}
#section1 .header .header-columns:nth-child(n) {
  margin-right: 3%;
  float: left;
  clear: none;
}
#section1 .header .header-columns:nth-child(2n) {
  margin-right: 0%;
  float: right;
}
#section1 .header .header-columns:nth-child(2n + 1) {
  clear: both;
}
#section1 .header .header-columns .header-column-logo {
  margin-top: -0.5vh;
  margin-left: 0vw;
  width: auto;
  height: 105%;
  background: url("../images/logo/statSRV-bw-logo@2x.png") left no-repeat;
  background-size: contain;
}
#section1 .header .header-columns .header-column-title {
  padding-top: 2rem;
  color: #fff;
  font-size: 1rem;
  font-weight: regular;
  text-align: left;
  margin-left: 5rem;
  z-index: 5;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
#section1 .header .header-columns .header-column-menu {
  float: right;
  padding-top: 3.5vh;
  color: rgba(255,255,255,0.75);
  font-size: 1rem;
  text-align: right;
  z-index: 5;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
#section1 .header .header-columns .header-column-menu a {
  color: rgba(255,255,255,0.75);
  font-weight: 300;
  text-decoration: none;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
#section1 .header .header-columns .header-column-menu a:hover {
  color: #fff;
}
#section1 .header .header-columns .header-column-menu:nth-of-type(2) {
  margin-right: 1vw;
}
#section1 .header .header-columns:nth-of-type(2) {
  padding-right: 1.5vw;
}
#section1 .content {
  width: 100%;
  max-width: 75vw;
  height: 80vh;
  margin: -4vh auto 1vh auto;
  color: #fff;
  font-size: 16px;
  background: rgba(25,41,41,0.5);
}
#section1 .content .clients-list {
  color: #fff;
  margin-top: 6.5vh;
}
#section1 .content .clients-list .clients-list_icon {
  float: left;
  padding: 1.5vh 0.5vw 1vh 2vw;
}
#section1 .content .clients-list .clients-list_icon a {
  color: rgba(255,255,255,0.75);
  font-weight: 500;
  text-decoration: none;
  line-height: 1.75;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
#section1 .content .clients-list .clients-list_icon a:hover {
  color: #fff;
}
#section1 .content .clients-list .clients-list_client {
  float: left;
  padding: 1.5vh 0.5vw 1vh 2vw;
}
#section1 .content .clients-list .clients-list_client a {
  color: rgba(255,255,255,0.75);
  font-weight: 500;
  text-decoration: none;
  line-height: 1.75;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
#section1 .content .clients-list .clients-list_client a:hover {
  color: #fff;
  border-bottom: 1px solid #fff;
}
#section1 .content .clients-list .clients-list_client:nth-of-type(1) a {
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  border-bottom: 1px solid #fff;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
#section1 .content .clients-list .clients-list_client:nth-of-type(1) a:hover {
  color: #fff;
  border-bottom: 1px solid #fff;
}
#section1 .content .client-list_data-container {
  height: 100%;
  padding-top: 4.5vh;
  box-shadow: 0px 7px 9px -4px rgba(0,0,0,0.2), 0px 14px 21px 2px rgba(0,0,0,0.14), 0px 5px 26px 4px rgba(0,0,0,0.12);
}
#section1 .content .client-list_data-container .client-list_data-table .client-list_data-table_content {
  float: left;
  text-align: center;
}
#section1 .content .client-list_data-container .client-list_data-table .client-list_data-table_content .icon {
  float: left;
}
#section1 .content .client-list_data-container .client-list_data-table .client-list_data-table_content .client-title {
  float: left;
  color: rgba(255,255,255,0.75);
  font-weight: 700;
}
#section1 .content .client-list_data-container .client-list_data-table .client-list_data-table_content .client-title .icon {
  float: right;
}
#section1 .content .client-list_data-container .client-list_data-table .client-list_data-table_content .client-content {
  float: right;
  color: rgba(255,255,255,0.5);
  font-weight: 300;
}
#section1 .content .client-list_data-container .client-list_data-table .client-list_data-table_content .client-content .client-icon {
  float: right;
}
#section1 .content .client-list_data-container .client-list_data-list {
  padding-top: 2.5rem;
}
#section1 .footer {
  background-color: #192929;
  width: 100%;
  max-width: 75vw;
  height: 6vh;
  color: rgba(255,255,255,0.5);
  font-size: 1em;
  margin: 2vh auto 0 auto;
  padding: 2vh;
  border-radius: 5px 5px 0 0;
}
#section1 .footer .footer-column {
  float: left;
  clear: none;
  text-align: inherit;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
}
#section1 .footer .footer-column:after {
  content: "";
  display: block;
  clear: both;
}
#section1 .footer .footer-column:nth-child(n) {
  margin-right: 3%;
  float: left;
  clear: none;
}
#section1 .footer .footer-column:nth-child(2n) {
  margin-right: 0%;
  float: right;
}
#section1 .footer .footer-column:nth-child(2n + 1) {
  clear: both;
}
#section1 .footer .footer-column .icons {
  height: 3vh;
}
#section1 .footer .footer-column .icons .icon {
  float: left;
  max-height: 24px;
  max-width: 24px;
  width: 100%;
  height: 100%;
  margin-right: 2vw;
  -webkit-transform: scale(1);
          transform: scale(1);
  cursor: pointer;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
#section1 .footer .footer-column .icons .icon .tooltip {
  opacity: 0;
  color: rgba(0,0,0,0.75);
  font-size: 0.5rem;
  background: rgba(255,255,255,0.75);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid #192929;
  border-radius: 2px;
  padding: 0.5vh;
  position: relative;
  top: -2.5vh;
  -webkit-transition: opacity 1.5s ease-in-out;
  transition: opacity 1.5s ease-in-out;
}
#section1 .footer .footer-column .icons .icon .tooltip#tooltip-github {
  left: -0.75vw;
}
#section1 .footer .footer-column .icons .icon .tooltip#tooltip-sourceforge {
  left: -1.75vw;
}
#section1 .footer .footer-column .icons .icon:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  fill: #fff;
}
#section1 .footer .footer-column .icons .icon:hover .tooltip {
  opacity: 1;
}
#section1 .footer .footer-column:nth-of-type(1) {
  text-align: left;
}
#section1 .footer .footer-column:nth-of-type(2) {
  text-align: right;
}
@media (max-width: 800px) and (min-width: 300px) {
  #section1 {
    max-width: 100vw;
  }
  #section1 .header {
    height: 10vh;
    width: 100%;
    max-width: 100vw;
  }
  #section1 .content {
    width: 100%;
    max-width: 100vw;
  }
  #section1 .footer {
    width: 100%;
    max-width: 100vw;
    font-size: 0.75rem;
  }
}
.mdc-data-table#mdc-data-table {
  width: 100%;
  height: 0vh;
  opacity: 0;
}
.mdc-data-table#mdc-data-table .mdc-data-table__icon {
  text-align: center;
  padding-left: 0.5vw;
  padding-right: 0vw;
  width: 3vw !important;
}
.material-icons {
  font-size: 3vh;
  opacity: 0.5;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.material-icons:hover {
  opacity: 1;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}
.loading-spinner_small {
  top: 0.5rem;
  left: 0.5rem;
  background: rgba(0,0,0,0.5);
  z-index: 100;
}
.loading-spinner_small .loading-spinner {
  font-size: 10px;
  margin: 2.5px auto;
  text-indent: -9999em;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  background: #fff;
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, #fff), color-stop(42%, rgba(255,255,255,0)));
  background: linear-gradient(to right, #fff 10%, rgba(255,255,255,0) 42%);
  position: relative;
  -webkit-animation: loadingSpinnerNEW 1.4s infinite linear;
  animation: loadingSpinnerNEW 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.loading-spinner_small .loading-spinner:before {
  width: 50%;
  height: 50%;
  background: #fff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loading-spinner_small .loading-spinner:after {
  background: #747a86;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.loading-spinner_large {
  display: none;
  position: absolute;
  top: 0vh;
  background: rgba(0,0,0,0.25);
  z-index: 100;
  width: 100%;
  height: 101%;
  opacity: 0;
  -webkit-transition: opacity 1.5s ease-in-out;
  transition: opacity 1.5s ease-in-out;
}
.loading-spinner_large .loading-spinner {
  border: 15px solid rgba(255,255,255,0.75);
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-top: calc(50% - 75px);
  margin-left: auto;
  margin-right: auto;
  -webkit-animation: loadingSpinner 2s linear infinite;
          animation: loadingSpinner 2s linear infinite;
  box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.2), 0px 8px 10px 1px rgba(0,0,0,0.14), 0px 3px 14px 2px rgba(0,0,0,0.12);
  border-top: 15px solid rgba(41,93,95,0.66);
}
@-webkit-keyframes loadingSpinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes loadingSpinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes loadingSpinnerNEW {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loadingSpinnerNEW {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
#snackbar {
  min-width: 22.5vh;
  margin-left: -11.25vh;
  background-color: rgba(40,49,65,0.81);
  text-align: center;
  border-radius: 2em;
  border: 0.75px solid #747a86;
  padding: 8px;
  position: fixed;
  z-index: 1;
  left: 50%;
  opacity: 0;
  bottom: -10vh;
  box-shadow: 0px 8px 10px -5px rgba(255,255,255,0.2), 0px 16px 24px 2px rgba(0,0,0,0.14), 0px 6px 30px 5px rgba(0,0,0,0.12);
}
#snackbar .column {
  float: left;
  clear: none;
  text-align: inherit;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
  float: left;
}
#snackbar .column:after {
  content: "";
  display: block;
  clear: both;
}
#snackbar .column:nth-child(n) {
  margin-right: 3%;
  float: left;
  clear: none;
}
#snackbar .column:nth-child(2n) {
  margin-right: 0%;
  float: right;
}
#snackbar .column:nth-child(2n + 1) {
  clear: both;
}
#snackbar .column p.text,
#snackbar .column p.text-points {
  margin: 0em 0em 0em 0em;
  float: left;
  font-weight: 100;
  font-size: 1em;
  line-height: 1.75em;
  padding-left: 2.25em;
  color: rgba(255,255,255,0.75);
}
#snackbar .column #text-points {
  padding-left: 0em !important;
}
/*# sourceMappingURL=style.css.map */