html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #222;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
* {
  box-sizing: border-box;
}
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  color: rgba(0,0,0,0.8);
  font-size: 16px;
}
img {
  max-width: 100%;
}
.container {
  width: auto;
  max-width: 940px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
.container:after {
  content: "";
  display: block;
  clear: both;
}
strong {
  font-weight: bold;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 1.2em;
}
section {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
}
section header h2 {
  color: rgba(0,0,0,0.8);
  font-weight: bold;
  font-size: 32px;
}
@-webkit-keyframes slideIN {
  0% {
    opacity: 0;
    left: -1000vw;
  }
  50% {
    opacity: 1;
    left: -500vw;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
@keyframes slideIN {
  0% {
    opacity: 0;
    left: -1000vw;
  }
  50% {
    opacity: 1;
    left: -500vw;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
@-webkit-keyframes slideOUT {
  0% {
    opacity: 1;
    left: 0;
  }
  50% {
    opacity: 1;
    left: 500vw;
  }
  100% {
    opacity: 0;
    left: 1000vw;
  }
}
@keyframes slideOUT {
  0% {
    opacity: 1;
    left: 0;
  }
  50% {
    opacity: 1;
    left: 500vw;
  }
  100% {
    opacity: 0;
    left: 1000vw;
  }
}
#section1 {
  background: #000;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 100vh;
  max-width: 100vw;
}
#section1 .header {
  font-size: 16px;
  height: 48px;
  width: 100%;
  background: transparent;
}
#section1 .header .header-columns {
  float: left;
  clear: none;
  text-align: inherit;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
  height: -webkit-fill-available;
}
#section1 .header .header-columns:after {
  content: "";
  display: block;
  clear: both;
}
#section1 .header .header-columns:nth-child(n) {
  margin-right: 3%;
  float: left;
  clear: none;
}
#section1 .header .header-columns:nth-child(2n) {
  margin-right: 0%;
  float: right;
}
#section1 .header .header-columns:nth-child(2n + 1) {
  clear: both;
}
#section1 .header .header-columns .header-column-title {
  padding-top: 2rem;
  color: #fff;
  font-size: 1rem;
  font-weight: regular;
  text-align: left;
  margin-left: 5rem;
  z-index: 5;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
#section1 .header .header-columns .header-column-menu {
  float: left;
  clear: none;
  text-align: inherit;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
  padding-top: 2rem;
  color: rgba(255,255,255,0.75);
  font-size: 1rem;
  text-align: center;
  z-index: 5;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
#section1 .header .header-columns .header-column-menu:after {
  content: "";
  display: block;
  clear: both;
}
#section1 .header .header-columns .header-column-menu:nth-child(n) {
  margin-right: 3%;
  float: left;
  clear: none;
}
#section1 .header .header-columns .header-column-menu:nth-child(2n) {
  margin-right: 0%;
  float: right;
}
#section1 .header .header-columns .header-column-menu:nth-child(2n + 1) {
  clear: both;
}
#section1 .header .header-columns .header-column-menu a {
  color: rgba(255,255,255,0.75);
  font-weight: 300;
  text-decoration: none;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
#section1 .header .header-columns .header-column-menu a:hover {
  color: #fff;
  border-bottom: 1px solid #fff;
}
#section1 .header .header-columns .header-column-menu:nth-of-type(1) {
  width: 75% !important;
  text-align: right;
}
#section1 .header .header-columns .header-column-menu:nth-of-type(2) {
  margin-right: -2rem !important;
  width: 20% !important;
  text-align: left;
}
#section1 .content {
  margin-top: 1rem;
  margin-left: 4.5rem;
  margin-bottom: 1rem;
  color: #fff;
  font-size: 16px;
  height: 90vh;
  width: 100%;
  -webkit-transition: all 0.75s ease-in-out 0.25s;
  transition: all 0.75s ease-in-out 0.25s;
}
#section1 .content .clients-list {
  color: #fff;
}
#section1 .content .clients-list .clients-list_client {
  float: left;
  padding: 0.5rem;
}
#section1 .content .clients-list .clients-list_client a {
  color: rgba(255,255,255,0.75);
  font-weight: 500;
  text-decoration: none;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
#section1 .content .clients-list .clients-list_client a:hover {
  color: #fff;
  border-bottom: 1px solid #fff;
}
#section1 .content .clients-list .clients-list_client:nth-of-type(1) a {
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  border-bottom: 1px solid #fff;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
#section1 .content .clients-list .clients-list_client:nth-of-type(1) a:hover {
  color: #fff;
  border-bottom: 1px solid #fff;
}
#section1 .content .client-list_data-container {
  padding: 2.5rem;
}
#section1 .content .client-list_data-container .client-list_data-table {
  min-height: 75vh;
  width: 50vw;
}
#section1 .content .client-list_data-container .client-list_data-table .client-list_data-table_content {
  float: left;
  text-align: center;
}
#section1 .content .client-list_data-container .client-list_data-table .client-list_data-table_content .icon {
  float: left;
}
#section1 .content .client-list_data-container .client-list_data-table .client-list_data-table_content .client-title {
  float: left;
  color: rgba(255,255,255,0.75);
  font-weight: 700;
}
#section1 .content .client-list_data-container .client-list_data-table .client-list_data-table_content .client-title .icon {
  float: right;
}
#section1 .content .client-list_data-container .client-list_data-table .client-list_data-table_content .client-content {
  float: right;
  color: rgba(255,255,255,0.5);
  font-weight: 300;
}
#section1 .content .client-list_data-container .client-list_data-table .client-list_data-table_content .client-content .client-icon {
  float: right;
}
#section1 .content .client-list_data-container .client-list_data-list {
  padding-top: 2.5rem;
}
#section1 .footer {
  background-color: #000;
  z-index: 100;
  width: 100%;
  height: 5vh;
  color: #fff;
  font-size: 16px;
  text-align: right;
  position: relative;
  bottom: 2vh;
}
#section1 .footer .footer-column {
  float: left;
  clear: none;
  text-align: inherit;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
  padding: 1.5vh;
}
#section1 .footer .footer-column:after {
  content: "";
  display: block;
  clear: both;
}
#section1 .footer .footer-column:nth-child(n) {
  margin-right: 3%;
  float: left;
  clear: none;
}
#section1 .footer .footer-column:nth-child(2n) {
  margin-right: 0%;
  float: right;
}
#section1 .footer .footer-column:nth-child(2n + 1) {
  clear: both;
}
#section1 .footer .footer-column:nth-of-type(1) {
  text-align: left;
}
#section1 .footer .footer-column:nth-of-type(2) {
  text-align: right;
}
/*# sourceMappingURL=style.css.map */