body
	var(--mdc-theme-primary, $green-dark-matt)

.mdc-data-table#mdc-data-table
	width 100%
	height 0vh
	opacity 0
	margin-top 1vh
	// transition all .75s ease-in-out
	.mdc-data-table__table
		// width 0vw
		// height 0vh
		// opacity 0
		// transition all .25s ease-in-out
	.mdc-data-table__icon
		text-align center
		padding-left .5vw
		padding-right 0vw
		width 3vw !important
.material-icons
	font-size 3vh
	opacity 0.5
	transform scale(1)
	transition all .25s ease-in-out
	&:hover
		opacity 1
		transform scale(1.5)
.mdc-form-field
	max-width 50vw
	width 100%
	height auto
	margin-left 2vw
	margin-right auto
	float none
.mdc-text-field__input
	font-size 1.25rem !important
	padding-top 2%
	padding-left 20% !important
.mdc-floating-label
	top 50% !important
	left 20% !important
	color rgba(0,0,0,1) !important
	font-size 1rem !important
	font-weight 300
.mdc-button
	font-size 1rem
	background-color $green-dark-matt !important
	color $white
	height 5.7vh


// MY BUTTONS
#input-new-client-adress
	width 100%
	max-width 30vw
	margin-left 2vw
	// float left
#input-new-client-name
	width 100%
	max-width 30vw
	margin-left 2vw
	// float left
#button-add-client
	width 100%
	max-width 30vw
	margin-top 2vh
	margin-left 2vw
	// float left
